body {
    background-color: #f5efe6;
}

hr {
    width: 90%;
    height: 1px;
    margin-top: 20px;
    margin-bottom: 20px;
    background: #776e65;
}

.heading {
    display: flex;
    justify-content: center;
    margin: 15px;

    > * {
        flex: 0 0 auto;
        margin: 0 10px;
    }
}

.logo {
    width: 125px;
    height: 125px;
}

.game-screen-style {
    display: block;
    margin: auto;
    margin-top: 15px;
    border: 3px solid #aa9888;
    border-radius: 10px;
}

.greeting {
    color: #56493c;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    font-size: 14pt;
    margin-right: 5%;
}

.score-panel {
    width: 15%;
    text-align: center;
    padding: 3px;
    margin-top: 5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #bbada0;
    border-radius: 15px;

    > .text {
        margin: 10px;
        font-size: 14pt;
        font-weight: 800;
        font-family: sans-serif;
        color: #eee4d3;
    }

    > .res {
        margin: 10px;
        font-weight: bold;
        font-size: 30pt;
        color: #ffffff;
    }
}